<div class="book">
    <div id="hola">
        <p>Toca nuestro álbum para verlo.</p>
    </div>
    <input type="radio" name="page" id="page-1" checked />

    <label class="page cover" for="page-3">
        <h1>Elena<br>&<br>Sergio</h1>
    </label>

    <label class="page cover" for="page-1"></label>

    <input type="radio" name="page" id="page-3" />

    <label class="page" for="page-5">
        <img src="/assets/book01.jpg" alt="book01" style="width: 95%; height: 100%; margin-left: 10px;" />
    </label>

    <label class="page" for="page-3">
        <img src="/assets/book02.jpg" alt="book02" style="width: 100%; height: 100%;" />
    </label>

    <input type="radio" name="page" id="page-5" />

    <label class="page" for="page-7">
        <img src="/assets/book03.jpg" alt="book03" style="width: 100%; height: 100%;" />
    </label>

    <label class="page" for="page-5">
        <img src="/assets/book04.jpg" alt="book04" style="width: 100%; height: 100%;" />
    </label>

    <input type="radio" name="page" id="page-7" />

    <label class="page" for="page-9">
        <img src="/assets/book05.jpg" alt="book05" style="width: 100%; height: 100%;" />
    </label>

    <label class="page" for="page-7">
        <img src="/assets/book06.jpg" alt="book06" style="width: 100%; height: 100%;" />
    </label>

    <input type="radio" name="page" id="page-9" />

    <label class="page" for="page-11">
        <img src="/assets/book07.jpg" alt="book07" style="width: 100%; height: 100%;" />
    </label>

    <label class="page" for="page-9">
        <img src="/assets/book08.jpg" alt="book08" style="width: 100%; height: 100%;" />
    </label>

    <input type="radio" name="page" id="page-11" />

    <label class="page" for="page-13">
        <img src="/assets/book09.jpg" alt="book09" style="width: 100%; height: 100%;" />
    </label>

    <label class="page" for="page-11">

    </label>

    <input type="radio" name="page" id="page-13" />

    <label class="page" for="page-15">

    </label>

    <label class="page" for="page-13">

    </label>

    <input type="radio" name="page" id="page-15" />
    <label class="page" for="page-17">

    </label>

    <label class="page" for="page-15"></label>

    <input type="radio" name="page" id="page-17" />
    <label class="page" for="page-19"></label>
    <label class="page" for="page-17"></label>

    <input type="radio" name="page" id="page-19" />
    <label class="page" for="page-21"></label>
    <label class="page" for="page-19"></label>

    <input type="radio" name="page" id="page-21" />
    <label class="page cover" for="page-23"></label>
    <label class="page cover" for="page-21"></label>

    <input type="radio" name="page" id="page-23" />
</div>