h2 {
    width: 100%;
    padding-top: 25px;
    margin: 0px;
    background: linear-gradient(to top right, rgba(125, 75, 175, 0.5), rgba(125, 75, 175, 0));
    font-family: 'wedding01font';
    font-size: 64px;
    font-weight: 100;
    text-align: center;
}

#load {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: 'norsefont';
}

#top-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'norsefont';
    font-size: 24px;
}

ul {
    width: 90%;
    max-width: 500px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

li {
    margin: 5px 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right, rgba(175, 175, 255, 0.5), rgba(255, 255, 255, 0));
    border-radius: 5px;
    animation: slideIn 1s ease;
}

#name {
    display: flex;
    justify-content: space-between;
}

#data {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.font {
    font-size: 36px;
}

button {
    width: 75%;
    max-width: 500px;
    margin-bottom: 25px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 175, 0, 0.25);
    font-size: 24px;
    animation: fadeIn 1s ease forwards;
    cursor: pointer;
}

@font-face {
    font-family: 'wedding01font';
    src: url('/assets/wedding01.ttf') format('truetype');
}

@font-face {
    font-family: 'norsefont';
    src: url('/assets/norse.otf') format('opentype');
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}